

<div class="gantt-line">

  {{! title - from title attribute or }}
  {{#if this.title}}
    <div class="gantt-line-title">
      <span>{{this.title}}</span>
    </div>
  {{else}}
    {{yield
      (hash title=(component "gantt-line-title" line=this))
    }}
  {{/if}}

  {{! timeline }}
  <div class="gantt-line-timeline">

    {{! bar }}
    <div
      class="gantt-line-bar {{if this.isEditable "gantt-line-bar-editable"}}"
      style={{this.barStyle}}
      title={{this.barTitle}}
    >
      {{yield
        (hash
          inlineChilds=(component "gantt-line-inline-childs" parentLine=this chart=this.chart)
          barContent=(component "gantt-line-barcontent" line=this)
        )
      }}

      {{#if this.isEditable}}
        <div class="bar-resize-l"></div>
        <div class="bar-resize-r"></div>
      {{/if}}

    </div>

    {{! milestone(s) }}
    {{yield (hash milestone=(component "gantt-milestone" line=this chart=this.chart)) }}

  </div>
</div>




{{! child lines }}
<div class="gantt-line-childs">
  {{yield
    (hash
	    childLine=(component "gantt-line" chart=this.chart parentLine=this)
    )
  }}
</div>


