
<style>
  .gantt-line-milestone,
  .gantt-timeline .gantt-timeline-days .day {
    width: {{this.dayWidthPx}};
  }
  .gantt-timeline .gantt-timeline-cws .cw {
    width: {{this.cwWidthPx}};
  }
</style>

<div class="gantt-timeline-grid">

  {{! vertical grid}}
  <div class="gantt-timeline-vertical-grid">

      {{! days in month }}
      {{#if this.timelineDay}}
        <div class="gantt-timeline-days">
          {{#each this.timelineScale.months as |month|}}

            {{#each month.days as |day|}}
              <div class="day {{if day.isWeekend 'day-weekend'}} {{if day.class day.class}}">{{#if day.title}}<em>{{day.title}}</em>{{/if}} </div>
            {{/each}}
          {{/each}}
        </div>

      {{! calendar weeks }}
      {{else if this.timelineCW}}
        <div class="gantt-timeline-cws">
          {{#each this.timelineScale.calendarWeeks as |cw|}}

            <div class="gantt-timeline-cw" style={{cw.width}}></div>
          {{/each}}
          <div class="day today" style={{html-safe (concat "width:" this.dayWidth "px; position: absolute; right: 0;")}}></div>

        </div>

      {{! months }}
      {{else if this.timelineMonth}}
        <div class="gantt-timeline-months" >
          {{#each this.timelineScale.months as |month|}}
            <div class="gantt-timeline-month" style={{month.style}}></div>
          {{/each}}
          <div class="day today" style={{html-safe (concat "width:" this.dayWidth "px; position: absolute; right: 0;")}}></div>
        </div>
      {{/if}}

  </div>

</div> {{! chart-grid end}}


{{! header }}
<div
  class="gantt-chart-header {{if this.isSticky 'gantt-chart-header-sticky'}}"
  style={{this.stickyPlaceholderStyle}}
>
  {{! used for sticky handling }}
  <div class="gantt-chart-header-inner" style={{this.stickyStyle}}>

    <div class="gantt-header-title">
      {{yield (hash header=(component "gantt-generic-content")) }}
    </div>

    {{! header timeline }}
    <div class="gantt-timeline-scale" style={{this.scaleStyle}}>


      {{! years }}
      {{#if this.timelineYear}}
        <div class="gantt-timeline-years" >
          {{#each this.timelineScale.years as |year|}}
            <div class="gantt-timeline-year" style={{year.width}}><span>{{year.nr}}</span></div>
          {{/each}}
        </div>
      {{/if}}

      {{! months }}
      {{#if this.timelineMonth}}
        <div class="gantt-timeline-months" >
          {{#each this.timelineScale.months as |month|}}
            <div class="gantt-timeline-month" style={{month.style}}>

              {{! month }}
              <div class="gantt-timeline-month-name">
                <span>
                  {{#if this.timelineMonthShort}}
                    {{month.labelShort}}
                  {{else}}
                    {{month.label}}
                  {{/if}}
                </span>
              </div>

            </div>
          {{/each}}
        </div>
      {{/if}}

      {{! calendar weeks }}
      {{#if this.timelineCW}}
        <div class="gantt-timeline-cws">
          {{#each this.timelineScale.calendarWeeks as |cw|}}
            <div class="cw" style={{cw.width}}>{{cw.nr}}</div>
          {{/each}}
        </div>
      {{/if}}

      {{! days in month }}
      {{#if this.timelineDay}}
        <div class="gantt-timeline-days">
          {{#each this.timelineScale.months as |month|}}
            {{#each month.days as |day|}}
              <div class="day {{if day.isWeekend 'day-weekend'}} {{if day.class day.class}}">
                {{#if (gt this.dayWidth 15)}}
                  {{day.nr}}
                {{/if}}
              </div>
            {{/each}}
          {{/each}}
        </div>
      {{/if}}



    </div>

  </div>
</div>
